# ASP.NET
# Build and test ASP.NET projects.
# Add steps that publish symbols, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/aspnet/build-aspnet-4

trigger:
- main

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: DotNetCoreCLI@2
  displayName: Build
  inputs:
    command: build
    projects: 'TeamJ.SKS.Package/TeamJ.SKS.Package.Services/TeamJ.SKS.Package.Services.csproj'
    arguments: '--configuration $(buildConfiguration)'

- task: DotNetCoreCLI@2
  displayName: UnitTests
  inputs:
    command: test
    projects: '**/*Test/*.csproj'
    arguments: '--configuration $(buildConfiguration) --collect "Code coverage" --settings "TeamJ.SKS.Package/TeamJ.SKS.Package.Services.Test.runsettings"'

- task: DotNetCoreCLI@2
  displayName: IntegrationTests
  inputs:
    command: build
    projects: '**/*.IntegrationTests.csproj'
    arguments: '--configuration $(buildConfiguration)'

- task: PublishBuildArtifacts@1
  displayName: Publish IntegrationTests
  inputs:
    PathtoPublish: '$(Build.SourcesDirectory)/src/TeamJ.SKS.Package.Services.IntegrationTests/bin/$(BuildConfiguration)/net5.0'
    ArtifactName: 'IntegrationTests'
    publishLocation: Container

- task: DotNetCoreCLI@2
  displayName: 'dotnet publish WebService'
  inputs:
    command: 'publish'
    publishWebProjects: true
    arguments: '--configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)'
    configuration: '$(buildConfiguration)'
    zipAfterPublish: true
    
- task: PublishBuildArtifacts@1
  displayName: 'publish artifacts'